form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 85vh;
}

h1 {
  font-size: 3em;
  font-family: 'MonteCarlo', cursive;
}

.input-field {
  font-size: 1.2em;
  width: 20em;
  padding: .2em;
}

button {
  font-size: 1.2em;
  color: white;
  background-color: black;
  padding: 1em;
}

#playlist-top{
  color: darkred;
  font-size: 3em;
  font-family: 'MonteCarlo', cursive;
  padding: 0;
  margin: 0;
}

#song-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#song{
  color: white;
  background-color: black;
  padding: 4px;
  margin: 3px;
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
  .input-field {
    font-size: 1.2em;
    width: 15em;
    padding: .2em;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 5em;
  }
  .input-field {
    font-size: 4em;
    width: 40em;
    padding: .2em;
  }
}

/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  
}

/* Large screens, desktops */
@media (min-width: 1025px) and (max-width: 1200px) {
  
}


