form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90vh;
}

h1 {
  font-size: 3rem;
}

.input-field {
  font-size: 1.2rem;
  width: 20rem;
  padding: .2rem;
}

button {
  font-size: 1.2rem;
  color: white;
  background-color: black;
  padding: 1rem;
}